body {
    background-color: antiquewhite;
}
#header {
    color: steelblue;
    text-align: center;
    font-family: sans-serif;
    font-size: 48px;
}
.desch { 
    margin-left: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 36px;
}
.desc {
    margin-left: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
}
.ing, .step {
    margin-left: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
}
ul, ol {
    margin-left: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
}
img {
    margin-left: 400px;
    width: 1000px;
}